.container-fluid{
  width: 100%; 
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
   }
 
* {  box-sizing: border-box;  }



/* the whole container */
.header {
  display: block;

  justify-content: space-between;
  display: flex;
  background: #2E335A;

  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  z-index: 1000;
}

.arabic {
  flex-direction: row-reverse;
}







/* three icons to the right */
.icons {
  display: flex;
  gap: 25px;
  right: 0;
  margin: 15px 20px;
}  

.icons .searchIcon{
  height: 24px;
  width: 22px;
}

.icons svg {
  fill: white;
  fill-opacity: 0.6;
  transition: fill 0.3s ease; 
}

.icons svg:hover {
  fill: white;/* Replace with your desired hover color */
  fill-opacity: 1; 
}

svg {
  height: 24px;
  width: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Transition for smooth color change */
}

#contactInfo {
  border-radius: 50%;
  border-style: none;
  background: RGB(111, 12, 122, 0.5);
  color: white;
  padding: 4px 9px;
}


#contactInfo:hover {
  background: RGB(111, 12, 122);
}








.search input{
    background: linear-gradient(135deg, rgba(15, 85, 232, 0.10) 0%, rgba(157, 223, 243, 0.10) 100%);
    border-radius: 40px;
    border: 1px rgba(255, 255, 255, 0.50) solid;
    width: 445px;
    height: 40px;
    top: 8px;
  }
  
.search {
    display: flex;
    align-items: center;
    position: relative;
  }

input[type="text"] {
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #ccc;
    outline: none;
    color: white;
  }
  
.search svg {
    position: absolute;
  }
  



  #label select{
    border-radius: 10px;
    background: #bb8ae7;
    border-style: none;
    padding: 3px;
  }

  #label select:focus,
  #label select:hover
  {
    border-radius: 10px;
    background: #cca4ef;
    border-style: none;
    padding: 3px;
  }




 /* Papaya title + button  */
.title {
  margin-left: 10px;
  display: flex;
  color: white;
}

#svgPapaya {
  display: flex;
}

#svgPapaya .Papaya svg {
  width: 100px;
  margin: 15px 5px;
  transition: transform 0.3s ease-in-out;
}

#svgPapaya .Papaya svg:hover {
  transform: scale(1.05);
}

.title .row .col #menu-toggle{ 
    cursor: pointer;
    margin: 15px 5px;
    color: white;
    transition: transform 0.3s ease-in-out;
}

#menu-toggle:hover {
  transform: scale(1.2);
}














/* responsive css */

@media only screen and (max-width:929px) {
  .search input{ width: 345px; }
}

@media only screen and (max-width:780px) {
  .search input{  width: 245px; }
}


@media only screen and (min-width: 767px) {
  .searchIcon { display: none; }
}


@media only screen and (max-width: 767px) {

.search { display: none;  }
.searchIcon { display: block; }

}




.col-arabic {
  direction: rtl;
  padding-right: 30px;
} 

.icons-arabic {
  direction: rtl;
  /* padding-right: 30px; */
} 



/* The Modal (background) */
.modal {
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}







/* Modal */

.modal .btn {
  background: #2E335A;
  color: white;
 
}

.modal .btn:hover {
  background: #4b2e5a;
  animation: pulse 1s infinite;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}



.modal div div{
  background: linear-gradient(168.44deg, #2E335A 1.62%, #1C1B33 95.72%); 

}


.modal div div .modal-body .card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
   background: #525573;
  /* max-width: 300px; */
  margin: auto;
  text-align: center;
  font-family: arial;
}

.modal div div .modal-body .card .title {
  color: grey;
  font-size: 18px;
  align-items: center;
}

.modal div div div .modal-title {
  color: white;
}


.modal div div div .btn-close {
    color: white;
}

.modal div div div .btn-close:hover {
  color: rgb(255, 0, 0);
}


.modal div div .modal-body2 {
  background: #525573;
  width: 100%;
  padding: 5px;
}



/* Full-width input fields */
.modal div div .modal-body2 input[type=text], input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.modal div div .modal-body2 input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
