<app-shimmer *ngIf="done"></app-shimmer>


<div *ngIf="!done" class="container-fluid">


        <div class="list-container">

          <div class="div-list" *ngFor="let vid of allVideos; let i = index" (click)="moveToRouteWithIndex('/videos/view', vid.id)">

            <div class="image-container">
                  <img class="thumbnail" [src]="vid.img" (click)="moveToRouteWithIndex('/videos/view',vid.id)">
                  <div class="bottom-right">{{vid.videoTime}}</div> 
            </div>

                <div class="flex-div">

                  <div class="col col1">
                    <img [src]="vid.smallImg" alt="">
                  </div>

                  <div class="col col2">
                  <div class="vid-info">
                    <a (click)="moveToRouteWithIndex('/videos/view', vid.id)">{{ vid.title }}</a>
                    <p>{{ vid.channelName }}</p>
                    <p>{{ vid.views }} views ● {{ vid.date }}</p>
                  </div>
                </div>
 
                  </div>
                </div>
                
              </div>


</div> 



