.container-fluid {
  width: 100%;
  height: 100%;

  margin: 0;
  margin-top: 90px;
  padding: 10px;
  overflow: hidden;

  background: linear-gradient(180deg, #2B2F53 0%, #1D1C34 34%);
}

* { box-sizing: border-box; }



.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
  cursor: pointer;
}




.div-list{
  background: linear-gradient(180deg, rgba(89, 65, 175, 0.2) 0%, rgba(72, 49, 157, 0) 100%);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(44, 0, 166, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.div-list:hover {
  transform: scale(1.03);
  box-shadow: 4px 4px 8px rgba(203, 13, 255, 0.1);
}





.div-list .image-container {
  position: relative;
}

.div-list .thumbnail {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%; /* Make sure the image fills the container */
}


/* Bottom right text */
.bottom-right {
  font-size: 12px;
  position: absolute;
  color: white;
  background: #000;
  padding: 5px;
  border-radius: 10px;
  bottom: 8px;
  right: 16px;
}



.div-list .flex-div {
  align-items: flex-start;
  display: flex;
  margin-top: 7px;

}

.flex-div .col1 {
  margin-left: 10px;
  flex: 1;
}

.flex-div .col2 {
  flex: 6;
  padding-right: 5px;
}

.div-list .flex-div a{
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.div-list .flex-div p{
  color: rgb(149, 145, 145); 
}

.div-list .flex-div img{
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}


