

    



          
         <!-- <app-shimmer *ngIf="done"></app-shimmer>  -->
         <!-- <app-everything *ngIf="!done"></app-everything> -->
      
         <app-allvideos></app-allvideos> 

         <div class="divider"></div>
         
         <app-stories-component></app-stories-component>
         
         <div class="divider"></div>

         <app-allvideos></app-allvideos>

  
            <!-- <app-shimmer *ngIf="done"></app-shimmer> -->
            <!-- <app-everything *ngIf="!done"></app-everything> -->
         
           





