
<!-- <app-signin></app-signin> -->

<div>


<div class="Headrs">
     <app-header></app-header>
</div>
<!-- ========== header end ========== -->


<main [ngClass]="{'main-wrapper': true, 'main-wrapper-arabic': isArabic()}">

        <app-sidebar></app-sidebar>   
        <app-navbar class="navbar"></app-navbar>
  
<section class="section">    
          <router-outlet></router-outlet>   
</section>

          <!-- <app-footer></app-footer> -->
     <!-- ========== footer end =========== -->

</main>


</div>
 
 
 