.container-fluid{
  width: 100%; 
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
   }
 
   
  * {
    box-sizing: border-box;
  }


.header {
    height: 56px;
    width: 100vw;
    background: radial-gradient(ellipse at bottom, #612778 0%, #2E335A 60%);
  
overflow: hidden;

    position: fixed;
    margin-top: 35px;
    z-index: 1000;
  }

  
.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    top: 20px; 
    justify-content: center; 
    align-items: center; 
    gap: 48px; 
    display: inline-flex;
    flex-direction: row;
}





.navbar .firstItem {
  margin-left: 25px;

}


.navbar li a {
    color: rgba(235, 235, 245, 0.60);
    font-size: 14px;
    text-decoration: none;
}


.navbar li a:hover,   .navbar li a:focus,  .navbar li a:active {
  color: white;
  transform: scale(1.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.navbar li a.right {
  float: right;
}

.toggle-button {
    background-color: #2E335A;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }











  