<div class="container-fluid">

<div class="header">  
    <!-- <div class="navbar-container"> -->
      <ul class="navbar">

        <li class="firstItem"><a href="#">All </a></li> 
        <li><a href="#">Gaming</a></li>
        <li><a href="#">Thoughts</a></li>
        <li><a href="#">Thrillers</a></li>
        <li><a href="#">Mixes</a></li>
        <li><a href="#">Avatar</a></li>
        <li><a href="#">criticisma</a></li>
        <li><a href="#">Korean dramas</a></li>
        <li><a href="#">Home</a></li>
 
        
        <li><a class="right" href="#">Korean dramas</a></li>
        <li><a class="right" href="#">criticisma</a></li>
        <li><a class="right" href="#">Korean dramas</a></li>

    </ul>
<!-- </div> -->

</div>

</div>
  