.container-fluid{
  width: 100%; 
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
   }
 
   
  * {
    box-sizing: border-box;
  }


.header {
    /* width: 100%;  */
    height: 56px;
    /* top: 56px; */
    /* left: 248px;  */
    background: radial-gradient(ellipse at bottom, #8015A7 0%, #2E335A 70%);
   

/*  
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden; */


}

  
.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    top: 20px; 
    justify-content: center; 
    align-items: center; 
    gap: 48px; 
    display: inline-flex
}









.navbar .firstItem {
  margin-left: 25px;

}






.navbar li a {
    color: rgba(235, 235, 245, 0.60);
    font-size: 14px;
    text-decoration: none;
}

.navbar li a:hover,
.navbar li a:focus,
.navbar li a:active {
  color: white;
  transform: scale(1.1);

}

.navbar li:hover{

}

.navbar li a.right {
  float: right;
}

.toggle-button {
    background-color: #2E335A;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }











  