<div class="container-fluid">

<div class="header">  
  

      <ul class="navbar">

        <!-- <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li> -->

        <li class="firstItem"><a class="right" href="#">All </a></li> 
        <li><a class="right" href="#">Mixes</a></li>
        <li><a class="right" href="#">Music</a></li>
        <li><a class="right" href="#">Live</a></li>
        <li><a class="right" href="#">Gaming</a></li>
        <li><a class="right" href="#">Preschools</a></li>
        <li><a class="right" href="#">Arabic</a></li>
        <li><a class="right" href="#">Korean dramas</a></li>
        <li><a class="right" href="#">Animated Films</a></li>
        <li><a class="right" href="#">Korean dramas</a></li>
        <li><a class="right" href="#">criticisma</a></li>
        <li><a class="right" href="#">Korean dramas</a></li>

        <!-- <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li> -->

    </ul>


</div>

</div>
  