
<!-- used ngClass for styling (CSS) ; when it is in arabic convert everything to right-left and vise versa -->
<!-- used translate ; when it is in arabic convert everything to Arabic Language and vise versa -->

<div class="container-fluid">

<div class="header">  
  

      <ul [ngClass]="{'navbar': true, 'arabic': isArabic()}">

        <li class="firstItem"><a class="right" href="#">{{ 'NAVBAR.nav1' | translate }} </a></li> 
        <li><a class="right" href="#">{{ 'NAVBAR.nav2' | translate }} </a></li>
        <li><a class="right" href="#">{{ 'NAVBAR.nav3' | translate }} </a></li>
        <li><a class="right" href="#">{{ 'NAVBAR.nav4' | translate }} </a></li>
        <li><a class="right" href="#">{{ 'NAVBAR.nav5' | translate }} </a></li>
        <li><a class="right" href="#">{{ 'NAVBAR.nav6' | translate }} </a></li>
        <li><a class="right" href="#">{{ 'NAVBAR.nav7' | translate }} </a></li>
        <li><a class="right" href="#">{{ 'NAVBAR.nav8' | translate }} </a></li>
        <li><a class="right" href="#">{{ 'NAVBAR.nav9' | translate }} </a></li>
        <li><a class="right" href="#">{{ 'NAVBAR.nav10'| translate }} </a></li>
        <li><a class="right" href="#">{{ 'NAVBAR.nav11'| translate }} </a></li>
        <li><a class="right" href="#">{{ 'NAVBAR.nav12'| translate }} </a></li>


    </ul>


</div>



</div>
