* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sidebar {
  background: linear-gradient(180deg, #2B2F53 0%, #1D1C34 34%);
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-left: 10px;
}

#imgDiv {
  position: relative;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 22px;
  background: #000;
  padding: 5px;
  border-radius: 8px;
  font-size: small;
}

.wholeBox {
  cursor: pointer;
  margin: 3px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.row #imgDiv img {
  cursor: pointer;
  width: 100%;
  height: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.row #texts {
  padding-right: 5px;
  padding-left: 5px;
}

.row .col-xl-8 a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.row .col-xl-8 p {
  text-decoration: none;
  color: rgb(106, 106, 106);
}

.row {
  background: linear-gradient(168deg, #2E335A 0%, #444262 100%);
  margin-right: 8px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(44, 0, 166, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.row:hover {
  background: linear-gradient(168deg, #2E335A 0%, #837cdb 100%);
  transform: scale(1.01);
  box-shadow: 4px 4px 8px rgba(203, 13, 255, 0.1);
}

/* Responsive adjustments */
@media (max-width: 998px) {
  #texts a,
  p {
    font-size: 14px;
  }
}
