


<div class="container-fluid">

    <!-- Main Content -->
    <div class="container">


      <!-- Video -->
      <div id="video-container">

        <iframe width="100%" height="600px" controls="controls"
        [src]= "videoUrl"               
        frameborder="0"
        allowfullscreen >
      </iframe>

      </div>

      <!-- Video Information -->
      <div id="video-info">


        <!-- First row for the title -->
        <div class="row">
          
          <div id="videoTitle">
            <h2>{{viewedVideo.title}}</h2>
          </div>

        </div>




         

<!-- The Modal to be logged in alert-->
<div id="myModall" class="modal">

<div class="modal-content">

      <img src="https://lh3.googleusercontent.com/ytP9VP86DItizVX2YNA-xTYzV09IS7rh4WexVp7eilIcfHmm74B7odbcwD5DTXmL0PF42i2wnRKSFPBHlmSjCblWHDCD2oD1oaM1CGFcSd48VBKJfsCi4bS170PKxGwji8CPmehwPw=w200-h247-no" alt="Person" class="card__image">
      <p style="color: white;" class="card__name">Lily-Grace Colley</p>
      <div class="grid-container">
  
        <div style="color: white;" class="grid-child-posts">
          {{viewedVideo.subscribers}} SUBSCRIBERS
        </div>
  
        <div style="color: white;" class="grid-child-followers">
          1012 Likes
        </div>
  
      </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
      </ul>
      <button class="btn draw-border">Follow</button>
      <button class="btn draw-border">Message</button>
      <span class="close" onclick="document.getElementById('myModall').style.display='none'">&times;</span>

</div>
</div>







        <div class="row">
          <div class="col">

            <span>  <p>
              <img onclick="document.getElementById('myModall').style.display='block'" id="SvgInCard" [src]="viewedVideo.smallImg" alt=""> {{viewedVideo.channelName}} --
                    {{viewedVideo.subscribers}} SUBSCRIBERS</p>

            </span>
     
            <button> Subsrcibe </button>

          </div> 

          

          <div id="likeSave" class="col">
            <div class="mb-3">
              <button type="button" class="btn btn-outline-primary mr-3"><i class="fas fa-thumbs-up"></i> Like</button>
              <button type="button" class="btn btn-outline-success"><i class="fas fa-save"></i> Save </button>
            </div>
          </div>


        </div>

        <!-- Rating -->
        <div class="mb-3">
          <h4>Rating: <span id="avg-rating">4.5</span>/5</h4>
          <input id="star-rating" type="number" class="rating" data-size="lg">
        </div>




</div></div></div>