
/* Main container styling */
.container-fluid {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(180deg, #2B2F53 0%, #1D1C34 34%);
}


/* Video container styling */
#video-container {
  margin: 15px;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}


/* Video info styling */
#video-info {
  margin-top: 20px;
  padding: 0 20px;
}


#videoTitle h2 {
  color: white;
}

.row .col p {
  color: rgb(165, 159, 159);
  text-transform: uppercase;
}




/* Card styling */
.card {
  margin-bottom: 25px;
  background: linear-gradient(180deg, #a1a8da 0%, #7d7b9e 34%);
}

/* Body styling */
body {
  background-color: #f8f9fa;
  color: #495057;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#avg-rating {
  color: #28a745;
  font-weight: bold;
}

.rating-stars {
  font-size: 24px;
}

.btn{
  margin-right: 10px;
}

.media img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.comment-form {
  margin-top: 20px;
}




.SubsrcibeButton {
  padding: 5px;
  
  background: #1D1C34;
  border-color: #1D1C34;

  color: white;
  border-radius: 5px;  
}



.SubsrcibeButton:hover {
  background: #3a3864;
  border-color: #3a3864;
}



/* Responsive adjustments */
@media (max-width: 768px) {
  #video-info {
    padding: 0 15px;
  }

}






/* styles.css (or your component-specific stylesheet) */
#likeSave {
  display: flex;
  align-items: center;
}

.thumbs-up-button {
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}



.like {
  background: rgb(92, 36, 98);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

.dislike {
  background: rgb(92, 36, 98);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}


.thumbs-up-count {
  font-size: 14px;
  padding:0 5px;
  color: rgb(138, 136, 136);
}



#likeSave .fa{
color: white;
cursor: pointer;
font-size: 20px;
}

#likeSave .fa:hover {
  color: #8fc4e8; 
}

#likeSave .fa.clicked {
  color: #3498db; 
  /* box-shadow: #000; */
}
  




.divider {
  height: 20px; 
  width: 1px;
  background-color: #ccc; 
 
}







#video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 aspect ratio (height/width * 100) */
}

#video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.btn2 {
  border-style: none;
  margin: 2px;
  border-radius: 10px;
  background: rgb(92, 36, 98);
  color: white;
  padding: 8px;
}

.btn2:hover {
  background: rgb(105, 50, 111);
  color: white;
  padding: 8px;
}