<div class="container-fluid">

    <!-- Main Content -->
    <!-- <div class="container"> -->

      <!-- Video -->
      <div id="video-container">
              <iframe width="100%" height="600px" controls="controls"
              [src]= "videoUrl"               
              frameborder="0"
              allowfullscreen >
            </iframe>
      </div>


      <!-- Video Information -->
      <div id="video-info">

        <!-- First row for the title -->
        <div class="row">
              <div id="videoTitle"> <h2>{{viewedVideo.title}}</h2> </div>
        </div>


 <div class="row">

          <div class="col">

        <span>        
              <p>
                 <img id="SvgInCard" [src]="viewedVideo.smallImg" alt=""> 
                 {{viewedVideo.channelName}} -- {{viewedVideo.subscribers}} SUBSCRIBERS
              </p>
        </span>
     
         
        <button class="SubsrcibeButton"> Subsrcibe </button>

          </div> 

          

<div id="likeSave" class="col">
           
              <!-- <button type="button" class="btn btn-outline-primary mr-3"><i class="fas fa-thumbs-up"></i> Like</button> -->

             
   
                <button type="button" class="btn btn-outline-success"> Save </button>

                <div class="like">
                        <i  [class.clicked]="isThumbsUpClicked"
                          (click)="handleThumbsUpClick()"
                          class="fa fa-thumbs-up">
                      </i>
                      <span class="thumbs-up-count">{{viewedVideo.likes}} Like</span>  
            </div>

            <div class="dislike">
              <i  [class.clicked]="isThumbsUpClicked"
                (click)="handleThumbsDownClick()"
                class="fa fa-thumbs-down">
            </i>
            <!-- <span class="thumbs-up-count">12 Likes </span>   -->
        </div>
       


</div>
       





<div id="likeSave" class="col">
  <!-- <div class="mb-3"> -->
  
    <!-- <button type="button" class="btn btn-outline-primary mr-3"><i class="fas fa-thumbs-up"></i> Like</button> -->

    <!-- <div class="thumbs-up-container"> -->

      <button type="button" class="btn btn-outline-success"> Save </button>

      <div class="like">
              <i  [class.clicked]="isThumbsUpClicked"
                (click)="handleThumbsUpClick()"
                class="fa fa-thumbs-up">
            </i>
            <span class="thumbs-up-count">{{viewedVideo.likes}} Like</span>  
  </div>

  <div class="dislike">
    <i  [class.clicked]="isThumbsUpClicked"
      (click)="handleThumbsDownClick()"
      class="fa fa-thumbs-down">
  </i>
  
  <!-- <span class="thumbs-up-count">12 Likes </span>   -->
</div>
    <!-- </div> -->


</div>







        </div>

        <!-- Rating -->





</div></div>
<!-- </div> -->