* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main container styling */
.container-fluid {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #2B2F53 0%, #1D1C34 34%);
}










  

  
  