<div class="box shine"></div>

<div>
<div class="lines shine"></div>
<div class="lines shine"></div>
<div class="lines shine"></div>
</div>

<div class="photo shine"></div>
<div class="photo shine"></div>

<br>

<div class="box shine"></div>

<div>
<div class="lines shine"></div>
<div class="lines shine"></div>
<div class="lines shine"></div>
</div>
<br>

<div class="box shine"></div>

<div>
<div class="lines shine"></div>
<div class="lines shine"></div>
<div class="lines shine"></div>
</div>
<br>

<div class="photo shine"></div>
<div class="photo shine"></div>

<br>

<div class="box shine"></div>

<div>
<div class="lines shine"></div>
<div class="lines shine"></div>
<div class="lines shine"></div>
</div>
<br>

<div class="box shine"></div>

<div>
<div class="lines shine"></div>
<div class="lines shine"></div>
<div class="lines shine"></div>
</div>

<div class="photo shine"></div>
<div class="photo shine"></div>

<br>

