<div class="container-fluid">

      <div class="list-container">

        <div class="div-list" *ngFor="let vid of allVideos">

          <!-- <a> -->
            <div class="shimmer-effect">
              <img class="thumbnail" src="../../../assets/shimmer.png">
            </div>
                 <!-- <div class="bottom-right">{{vid.videoTime}}</div> -->
          <!-- </a> -->

              <div class="flex-div">

                <div class="col col1">
                  <img alt="" src="../../../assets/shimmer.png">
                </div>

                <div class="col col2">
              <div class="vid-info">
                  <a></a> 
                  <p></p>
                  <p></p>
              </div>
              </div>

            </div>

      </div>

      </div>

</div> 














