

<!-- <div class="row"> 

    <div class="col-xl-2">
       <app-sidebar></app-sidebar> 
   </div> 


   <div class="col-xl-10"> 
      
       <div class="main-content-1">

           <app-header></app-header>
           <app-navbar></app-navbar>
           
           </div>

           <div> -->
            <!-- <app-shimmer *ngIf="done"></app-shimmer> -->
            <!-- <app-everything *ngIf="!done"></app-everything> -->
          <app-everything></app-everything>
        <!-- </div>
           
   </div>

</div>  -->




